/* color scheme: https://maketintsandshades.com/#colors=38693c&hashtag=0&steps=10 */

:root {
    --font-lato: "Lato", sans-serif;
    --font-playfair: "Playfair Display", serif;
    --bg-color: #dbf0de;
    --text-color: #000000;
    --color-primary: #38693c;
    --color-on-primary: white;
    --nav-bg-color: #dbf0de90;
    --container-bg-color: #f1f9f2;
    --color-error: #ba1a1a;
    --color-on-error: white;
    --section-border-bottom: 6px dashed #c8e9ce;
    --line-height: 0.8;
    --list-style-image: url("../asset/button-text-lightmode.svg");
    --list-highlighted-image: url("../asset/button-text-onlight.svg");
    --round-button-image: url("../asset/button-lightmode.png");
    --button-image: url("../asset/button2-light.png");
    --flower-button-image: url("../asset/flower-button-light.png");
    --bg-hero-img: url("../asset/bg-hero-light.png");
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-lato: "Lato", sans-serif;
    --font-playfair: "Playfair Display", serif;
    --bg-color: #071209;
    --text-color: #f5f5f5;
    --color-primary: #afc3b1;
    --color-on-primary: #1f5026;
    --nav-bg-color: #07120990;
    --container-bg-color: #131e15;
    --color-error: #ffdad6;
    --color-on-error: #93000a;
    --section-border-bottom: 6px dashed #202a22;
    --line-height: 0.8;
    --list-style-image: url("../asset/button-text-darkmode.svg");
    --list-highlighted-image: url("../asset/button-text-ondark.svg");
    --round-button-image: url("../asset/button-darkmode.png");
    --button-image: url("../asset/button2-dark.png");
    --flower-button-image: url("../asset/flower-button-dark.png");
    --bg-hero-img: url("../asset/bg-hero-dark.png");
  }
}

[data-theme="light"] {
    --font-lato: "Lato", sans-serif;
    --font-playfair: "Playfair Display", serif;
    --bg-color: #dbf0de;
    --text-color: #000000;
    --color-primary: #38693c;
    --color-on-primary: white;
    --nav-bg-color: #dbf0de90;
    --container-bg-color: #f1f9f2;
    --color-error: #ba1a1a;
    --color-on-error: white;
    --section-border-bottom: 6px dashed #c8e9ce;
    --line-height: 0.8;
    --list-style-image: url("../asset/button-text-lightmode.svg");
    --list-highlighted-image: url("../asset/button-text-onlight.svg");
    --round-button-image: url("../asset/button-lightmode.png");
    --button-image: url("../asset/button2-light.png");
    --flower-button-image: url("../asset/flower-button-light.png");
    --bg-hero-img: url("../asset/bg-hero-light.png");
}

[data-theme="dark"] {
    --font-lato: "Lato", sans-serif;
    --font-playfair: "Playfair Display", serif;
    --bg-color: #071209;
    --text-color: #f5f5f5;
    --color-primary: #afc3b1;
    --color-on-primary: #1f5026;
    --nav-bg-color: #07120990;
    --container-bg-color: #131e15;
    --color-error: #ffdad6;
    --color-on-error: #93000a;
    --section-border-bottom: 6px dashed #202a22;
    --line-height: 0.8;
    --list-style-image: url("../asset/button-text-darkmode.svg");
    --list-highlighted-image: url("../asset/button-text-ondark.svg");
    --round-button-image: url("../asset/button-darkmode.png");
    --button-image: url("../asset/button2-dark.png");
    --flower-button-image: url("../asset/flower-button-dark.png");
    --bg-hero-img: url("../asset/bg-hero-dark.png");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scrollbar-color:  var(--color-primary) var(--container-bg-color);
    scrollbar-width: auto;
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--bg-color);
    color: var(--color-primary);
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    padding: 0 40px;
    margin-inline: auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(20px);
    background-color: var(--nav-bg-color);
    border-bottom: 1px solid var(--bg-color);
    position: sticky;
    top: 0;
    z-index: 9999;
}

header nav {
    font-family: var(--font-lato);
    color: var(--color-primary);
}

header nav ul li:hover {
    color: var(--color-primary);

    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-style: dashed;
}

#hero {
    min-height: 100vh;
    box-sizing: border-box;
    background-image: var(--bg-hero-img);
    background-position: center;
    background-size: cover;
}

#hero h1 {
    font-family: var(--font-playfair);
    font-size: 48px;
    color: var(--color-primary);
    margin: 0;
    font-weight: bolder;
}

#hero button {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border-radius: 100px;
    padding: 10px 18px;
    cursor: pointer;
    font-weight: bold;
}

#hero button:hover {
    transform: translateY(3px);
}

.social-media {
    border: 2px solid var(--color-primary);
    margin-top: 16px;
    background-color: var(--container-bg-color);
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
}

.social-media img {
    height: 24px;
}

.social-media:hover {
    box-shadow: inset 1px 1px 6px rgb(from var(--color-primary) r g b / 40%);
    transform: translateY(1px);
}

#about-left {
    display: flex;
    flex-direction: column;
}

.skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 2px solid var(--color-primary);
    background-color: var(--container-bg-color);
    padding: 8px 16px;
    font-size: 14px;
    color: var(--color-primary);
}

.highlight-word {
    padding: 2px 4px; 
    background-color: var(--color-primary); 
    color: var(--color-on-primary);
}

.skills img {
    height: 24px;
}

.skills:hover {
    box-shadow: inset 1px 1px 6px rgb(from var(--color-primary) r g b / 40%);
    transform: translateY(1px);
    font-weight: bold;
}

.json-list ul {
    list-style-image: var(--list-style-image);
    list-style-position: outside;
    margin-left: 20px;
    padding-left: 0;
}

.json-list ul.listHighlighted {
    list-style-image: var(--list-highlighted-image);
}

.json-list ul li p {
    margin-left: 0;
}

.card:hover {
    box-shadow: inset 1px 1px 6px rgb(from var(--color-primary) r g b / 40%);
    transform: translateY(1px);
}

#toogle-theme {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.nav-indicator {
    background-color: var(--container-bg-color);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    transition: all 0.2s ease-in-out;
}

.active-indicator {
    background-color: var(--color-primary) !important;
    color: var(--container-bg-color) !important;
    font-weight: bold;
}

.nav-indicator:hover {
    opacity: 70%;
    border-color: var(--color-primary);
}

.form-field {
    border: 2px solid var(--color-primary);
    outline: none;
    width: 100%;
    border-radius: 12px;
    padding: 8px 16px;
}

.form-field:focus {
    border-style: dashed;
}

.form-btn {
    width: 100%;
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border-radius: 12px;
    padding-block: 10px;
    margin-top: 20px;
    font-weight: bold;
}

.form-btn:hover {
    transform: translateY(3px);
}

.badge-total {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
}